* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: white dotted 1px;
}

body {
    // background-color: green;
    font-family: 'Lato', sans-serif;

    nav {
        position: sticky;
        top: 0px;
        background-color: #2c3e50;


        .caly {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            background-color: #2c3e50;
            color: white;
        }

        .burger {
            display: none;
        }


        a {
            text-decoration: none;
            color: white;
        }


        ul {
            width: 30%;
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
    }

    ul.mini {
        background-color: #2c3e50;
        text-align: center;
        width: 100%;

        li {
            padding: 5px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    header {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/work2.jpg);
        background-size: cover;
        height: 95vh;
        text-align: center;
        color: #D2E4F7;


        div.foto {
            padding-top: 20vh;

        }

        img {
            border-radius: 50%;
            width: 250px;
            height: 250px;

        }

        .opis1 {
            margin: 20px;

            p {
                margin-top: 20px;
            }
        }

    }

    section#portfolio {

        background-color: white;
        color: #D2E4F7;

        h1 {
            text-align: center;
            padding: 30px 30px 0 30px;
            font-size: 30px;
            color: black;
            // background-color: black;
        }

        .linia {
            width: 40%;
            display: block;
            margin: 0 auto;
        }

        .obrazy {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;

            .z1 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/gwiazdy.jpg);
            }

            .z2 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/gra.jpg);
            }

            .z3 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/komentarze.jpg);
            }

            .z4 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/Todolist.jpg);
            }

            .z5 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/pracownicy.jpg);
            }

            .z6 {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/ostatni.jpg);
            }

            .zdj {
                width: 30vw;
                height: 35vh;
                background-color: rgba(0, 0, 0, 50%);
                border: 5px solid #2c3e50;
                background-size: 120%;
                transition: 1s;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .zdj:hover {
                width: 30vw;
                height: 35vh;
                background-color: rgba(0, 0, 0, 50%);
                border: 5px solid #2c3e50;
                background-size: 100%;
                background-position: center;
            }

            p {
                text-align: center;
                font-size: 25px;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px;
                border: 1px #D2E4F7 solid;
                letter-spacing: 2px;
                width: 300px;
            }

        }
    }

    section#a {
        background-color: black;
        color: #D2E4F7;
        text-align: justify;
        padding: 20px;

        h1 {
            text-align: center;
            margin: 20px 0 0 0;
            font-size: 30px;
        }

        .linia {
            width: 300px;
            display: block;
            margin: 0 auto;
        }

        .opi {
            display: flex;

            div {
                margin: 20px 60px;
                font-size: 20px;
                ;
            }
        }


    }

    #contact {
        padding: 20px;

        h1 {
            text-align: center;
            padding: 20px;
        }

        .formularz {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 20px;
                padding: 10px;
            }

            button {
                margin: 10px;
            }

            input {
                width: 250px;
                height: 30px;
            }

            textarea {
                width: 250px;

            }

        }
    }

    footer {
        text-align: center;
        background-color: black;
        color: #D2E4F7;
        padding: 30px 0;
        margin: 0;
    }

}

@media screen and (max-width: 800px) {
    body {


        nav {

            .burger {
                display: block;
            }

            ul.normal {
                display: none;
            }

            .mini {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100px;
                position: absolute;


                a {
                    text-decoration: none;
                    font-size: 1em;
                    text-align: center;
                    display: block;
                }
            }

        }

        section#portfolio {
            .obrazy {
                flex-direction: column;
                width: 100%;
                margin: 0px;

                .zdj {
                    width: 95%;
                    flex-direction: column;
                    margin: 10px auto;

                    p {
                        font-size: 15px;
                    }
                }

            }


        }

        section#a {

            .opi {
                display: flex;

                div {
                    margin: 10px;
                    font-size: 20px;
                    ;
                }



            }

            .o2 {
                display: none;
            }
        }


    }


}